.imgBackgroud {
  background-image: url("./../../../assets/img/imgPapa.jpg");
  width: 100%;
  height: 730px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imgBackgroudCardVotes {
  width: 100%;
  height: 600px;
}

.imgBackgroud .navbar {
  background: rgba(0, 0, 0, 0.3);
}

.imgBackgroud .card {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  color: white;
}

.color-info {
  background-color: #1cbbb490;
}

.color-warking {
  background-color: #ffad1d90;
}

.color-black-transparent {
  background: rgba(0, 0, 0, 0.3);
}

.opacity-transparent-white {
  background: rgb(240, 240, 240, 0.7);
}

.sizeButtonTransparent {
  height: 60px;
}

.sizeButtonTransparentFamous {
  height: 50px;
}

.opacityText {
  opacity: 0.7;
}

.containerFooterImg {
  width: 100%;
  display: flex;
  justify-content: around;
}

.transparentBlack {
  background: rgba(0, 0, 0, 0.3);
  width: 40%;
}
.transparentWhite {
  background: rgba(252, 252, 252, 0.3);
  width: 60%;
}

.colorGray {
  background-color: #ebebeb;
}

.align-text-center {
  margin-top: 15px;
}
.marginTopNegative {
  margin-top: -12px;
}

.cardSize {
  width: 25rem;
}

.marginTopCard {
  margin-top: 50%;
}

.margin-top-card {
  margin-top: 130px;
}

.margin-top-card-footer {
  margin-top: 140px;
}

.marginTextFooterImg {
  margin: auto;
}

.divContentFamous {
  background: rgba(0, 0, 0, 0.3);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 3));
}

.sizeTextTitleCard {
  font-size: 35px;
}

.sizeButtonLikeorNot {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 0;
}

.borderButtonVoteNow {
  border: 2px solid white; /* Green */
}

.borderButtonVoteNowBlack {
  border: 2px solid black; /* Green */
}

.justify-content-start .sizeButtonLikeorNot:hover {
  border: 2px solid white;
}

.activeButton {
  border: 2px solid white;
}
.activeButton2 {
  border: 2px solid black; /* Green */
}

.row_name {
  margin-left: -17px;
}

.positionTextCard {
  margin-left: 33px;
  margin-right: 20px;
}

@media (max-width: 660px) {
  .cardSize {
    width: 100%;
  }

  .margin-top-card {
    margin-top: 10px;
  }
  .margin-top-card-footer {
    margin-top: 5px;
  }

  .imgBackgroud {
    height: 500px;
  }

  .marginSpeakOutMedia {
    margin-top: 160px;
  }
}
