<div class="imgBackgroud shadow">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navbar-dark  ">
    <h3 class=" text-white ml-lg-5">Rule of Thumb.</h3>
    <button class="navbar-toggler d-lg-none navbar-white " (click)="margin()" type="button" data-toggle="collapse"
      data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto ml-lg-0 mt-2 mt-lg-0 w-100 d-lg-flex justify-content-end">
        <li class="nav-item active mr-sm-4" routerLink="/pagesUrl/Past Trials">
          <a class="nav-link text-white opacityText">Past Trials </a>
        </li>
        <li class="nav-item mr-sm-4" routerLink="/pagesUrl/How It Works">
          <a class="nav-link text-white opacityText">How It Works</a>
        </li>
        <li *ngIf="sesionToken==0" class="nav-item mr-sm-4" routerLink="/login-register">
          <a class="nav-link text-white opacityText">Log In / Sign Up</a>
        </li>
        <li *ngIf="sesionToken==1" class="nav-item mr-sm-4" (click)="closeSesion()">
          <a class="nav-link text-white opacityText">Sign off</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-md-0">
        <a routerLink="/pagesUrl/Search">
         <app-search-svg [sizeImgSvg]="16"></app-search-svg>
        </a>
      </div>
    </div>
  </nav>

  <!-- Card -->
  <div class=" card cardSize  ml-md-5 margin-top-card shadow ">
    <div class="card-body">
      <p class="opacityText">What’s your opinion on</p>
      <h3 class="card-title">Pope Francis?</h3>
      <p class="card-text opacityText">He’s talking tough on clergy sexual abuse, but is he just another papal pervert
        protector? (thumbs down) or a true
        pedophile punishing pontiff? (thumbs up).</p>
      <p class="opacityText">More information</p>
      <h6>What’s Your Verdict?</h6>
    </div>
    <!-- buttons transparent -->
    <div class="d-flex justify-content-around">
      <a href="#"
        class="color-info sizeButtonTransparent w-100 opacityButtonCard d-flex justify-content-center column align-items-center">
        <!-- component like  -->
        <app-like-svg [sizeImgSvg]="30"></app-like-svg>
      </a>
      <a href="#"
        class="color-warking sizeButtonTransparent  w-100 opacityButtonCard d-flex justify-content-center column align-items-center">
          <app-dislike-svg [sizeImgSvg]="30"></app-dislike-svg>
      </a>
    </div>
  </div>

  <!-- Footer Img -->
  <div class="containerFooterImg margin-top-card-footer  ">
    <div class=" transparentBlack d-flex justify-content-end  p-0">
      <p class="text-white mt-2 mr-2">CLOSING IN</p>
    </div>
    <div class=" transparentWhite d-flex justify-contend-start">
      <h3>22 days</h3>
    </div>
  </div>
</div>

<!-- Container-->
<div class="container {{ classMarginSpeakOut }}" >
  <!-- Row of Speak out-->
  <div class="row colorGray ml-1 mr-1 mt-5 shadow ">
    <div class="col-4 col-md-3">

      <h5 class="opacityText mt-3 d-none d-md-block">Speak out. Be heard.</h5>
      <h4 class="marginTopNegative d-none d-md-block">Be counted</h4>

      <h6 class="opacityText mt-2 d-block d-md-none mt-3">Speak out. Be heard.</h6>
      <h5 class=" d-block d-md-none">Be counted</h5>

    </div>
    <div class=" col-8 col-md-9">
      <p class="opacityText align-text-center">Rule of Thumb is a crowd sourced court of public opinion where anyone and
        everyone can speak out and speak freely. It’s
        easy: You share your opinion, we analyze and put the data in a public report.</p>
    </div>
  </div>

  <!-- Row of text Votes-->
  <div class="row mt-5 ">
    <div class="col-12">
      <h3>Votes</h3>
    </div>
  </div>

  <!-- Cards the famous-->
  <div class="row">
    <!-- Cards famous-->
    <div  *ngFor="let item of dataFamousApi; index as i" class="col-sm-6 mt-4 "  >

      <div class="card imgBackgroudCardVotes text-white shadow-lg"
        style=" background-image: url('{{ item.image }}');  background-repeat: no-repeat;  background-position: center;  background-size: cover;">
        <div class="card-body">
        </div>

        <div class="divContentFamous">
          <div class="ml-3 mb-4">
            <div class="d-flex row_name ">
              <button  class="color-info sizeButtonLikeorNot "   *ngIf="dataVotesFamous[0]['likePercentage']>=50">
                <app-like-svg [sizeImgSvg]="20"  ></app-like-svg>

              </button>
              <button class="color-warking sizeButtonLikeorNot " *ngIf="dataVotesFamous[0]['likePercentage']<50">
                <app-dislike-svg [sizeImgSvg]="20" ></app-dislike-svg>

              </button>


              <h2 class="card-title sizeTextTitleCard d-none d-sm-block">{{ item.name }}</h2>
              <h3 class="  d-block d-sm-none">{{ item.name }}</h3>
            </div>

            <p class="card-text positionTextCard ">1 month ago in Entertainment</p>
            <p class="positionTextCard" *ngIf="hideBottonVotes==0">{{ textPersonFamous }}</p>
            <p class="positionTextCard" *ngIf="hideBottonVotes==1">{{ item.description }}</p>

            <div class="d-flex justify-content-sm-start  positionTextCard">
              <button class="color-info mr-2 sizeButtonLikeorNot {{ colorBotton2 }}"(click)="checkBotton(1) " *ngIf="hideBottonVotes==1" >
                <app-like-svg [sizeImgSvg]="20" ></app-like-svg>

              </button>
              <button class="color-warking mr-2 sizeButtonLikeorNot {{ colorBotton1 }}"  *ngIf="hideBottonVotes==1" (click)="checkBotton(0)" >
                <app-dislike-svg [sizeImgSvg]="20" ></app-dislike-svg>
              </button>
                  <button class="d-sm-none d-lg-block color-black-transparent mr-2 text-white borderButtonVoteNow w-25 buttonVoteNow" (click)="votesUser(item._id)">{{ textButtonVotes }}</button>
            </div>
              <button class="positionTextCard d-none d-sm-block d-lg-none  color-black-transparent mr-2 text-white borderButtonVoteNow w-sm-75 w-md-50 buttonVoteNow mt-3" style="height: 40px;" (click)="votesUser(item._id)">{{ textButtonVotes }}</button>
          </div>
        </div>

        <!-- Buttons votes -->
        <div class="w-100 d-flex ">
          <div class="color-info sizeButtonTransparentFamous d-flex" [style.width.%]="dataVotesFamous[0]['likePercentage']"  >
              <div class="mt-2 ml-2 mr-2">
                <app-like-svg [sizeImgSvg]="30"></app-like-svg>
              </div>

            <h4 *ngIf="dataVotesFamous[0]['likePercentage']"  class="mt-2 ml-2 text-white">{{ dataVotesFamous[0]['likePercentage'] }}%</h4>
          </div>
          <div class="color-warking sizeButtonTransparentFamous d-flex justify-content-end" [style.width.%]=" dataVotesFamous[0]['disLikePercentage'] ">
            <app-dislike-svg [sizeImgSvg]="30"></app-dislike-svg>
            <h4 *ngIf="dataVotesFamous[0]['disLikePercentage']" class="mt-2 mr-2 text-white">{{ dataVotesFamous[0]['disLikePercentage'] }}%</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Submit a Name-->
  <div class="row  mt-5 mb-4 ">
    <div class="col-12">
      <div class="w-100 shadow"
        style=" background-image: url('./assets/img/personas.jpg');   background-position: center; height: 70px; ">
        <div class="w-100 h-100 p-0 d-flex justify-content-between opacity-transparent-white">
          <h3 class="mt-3 ml-3 d-none d-md-block">Is there anyone else you would want us to add? </h3>
          <h6 class="mt-3 ml-3 d-block d-md-none">Is there anyone else you would want us to add? </h6>
          <button class=" color-black-transparent mr-2 borderButtonVoteNowBlack w-25 h-75 mt-2 mr-2 d-none d-md-block" routerLink="/pagesUrl/Submint a Name">
            <strong>Submint a Name</strong></button>
          <button class="color-black-transparent mr-2 borderButtonVoteNowBlack w-50 h-75 mt-2 mr-2  d-block d-md-none"  routerLink="/pagesUrl/Submint a Name">
            Submint a Name</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Footer of page-->
  <div class="w-100 d-flex justify-content-sm-between mt-4 mb-4">
    <div class="d-flex">
      <p class="opacityText" routerLink="/pagesUrl/Terms and Conditions">Terms and Conditions</p>
      <p class="opacityText ml-2 ml-sm-4" routerLink="/pagesUrl/Privacy Policy">Privacy Policy</p>
      <p class="opacityText ml-2 mr-2 ml-sm-0 ml-sm-4" routerLink="/pagesUrl/Contact Us">Contact Us</p>
    </div>
    <div class="d-flex">
      <p class="opacityText mr-2 mr-sm-4" routerLink="/pagesUrl/Folow Us">Folow Us</p>
      <a routerLink="/pagesUrl/Twitter"><app-facebook-svg [sizeImgSvg]="30"></app-facebook-svg></a>
      <a routerLink="/pagesUrl/Facebook"><app-twitter-svg [sizeImgSvg]="30" ></app-twitter-svg></a>
    </div>
  </div>
</div>
